html, body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  background-color: #fafafa;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  line-height: 100%;
}

h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 140%;
}
ul {
  font-size: 0.9em;
}

a {
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(to right, #000 50%, rgba(0,0,0,0) 50%);
  background-size: 0% 2px;
  background-position:left bottom;
  background-repeat: no-repeat;
  transition: all 0.9s ease;
}
a:hover {
  background-size: 200% 2px;
}

subtitle {
  font-size: 0.9em;
  font-weight: 300;
}

.about_contatiner {
  display: none;
  height: 100vh;
}

.about_contatiner p {
  padding-top: 10px;
}
.about_contatiner div {
  height: 100%;
  width : 350px;
  margin : auto;
  left:0;
  right:0;
  padding-top: 35vh;
}

.title_container {
  height: 100vh; /*95vh;*/
  top:0;
  background-color: rgb(77,77,77);
}


.title_container > div {
  position: fixed;
  display:block;
}

.nav {
  z-index: 1001;
  position: sticky;
  top: 0;
  bottom: 0;
  height : 5vh;
  background-color: #fafafa;
}

.nav div {
  height: 100%;
  width : 1000px;
  margin : auto;
}
.nav div ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 1.2vh;
}

.nav div li {
  margin-right: 30px;
}

.nav div li a {
  text-decoration: none;
  color : #000;
}

.body_container {
  z-index: 1000;
  position: relative;
  height: auto;
  padding-top: 5vh;
  background-color: #fafafa;
}

.container {
  height: 100%;
  width: 1000px;
  margin: auto;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* grid-template-rows: repeat(auto-fill,365px); */
  grid-auto-rows :365px;
  grid-auto-flow: dense;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding: 0px 0px 140px 0px;
}

.thumbnail {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.06);
  transition: all 1s ease;
  cursor: pointer;
}
.thumbnail div {
  width: 100%;
  height: 100%;
}

.thumbnail:hover {
  background-size: 105%;
}

.thumbnail_description {
  padding-left: 0px;
  padding-top: 35%;
}

.thumbnail_description p {
  margin-top: 10px;
  width: 60%;
}
/* .thumbnail_description a {
  color: #999;
} */
.thumbnail_description h1 {
  margin-top: 5px;
}

.portfolios > div:nth-of-type(4n-1) { /*every 3rd images*/
  grid-column-start: 2;
}

.portfolios > div:nth-of-type(4n) { /*every 4th testxs(left)*/
  padding-left: 200px;
}
.portfolios > div:nth-of-type(4n) p { /*every 4th testxs(left)*/
  width: 100%;
}
/* .portfolios > div:last-of-type {
  grid-column-start: 1;
} */

.moreProject_container {
  position: relative;
  height: 50vh;
  background-color: #fafafa;
  padding-bottom: 5px;
}

.moreProject_container > div {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 1000px;
  height: 100%;
  margin: auto;
}


.posters div {
  position: absolute;
  width: 191.25px;
  height: 247.5px;
  margin: 60px 0px 0px 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
  transition: all 1s ease;
}

.poster1 {
  z-index: 3;
}
.poster2 {
  transform: rotate(-10deg) translate(-15px, -7px);
  z-index: 2;
}
.poster3 {
  transform: rotate(10deg);
  z-index: 1;
}

.poster1:hover {
  transform: rotate(5deg);
}
.poster1:hover ~ .poster2 {
  transform: translate(-40px, -5px) rotate(-15deg);
}
.poster1:hover ~ .poster3 {
  transform: translate(30px, -5px) rotate(15deg);
}

.motions div {
  position: absolute;
  width: 230px;
  height: 230px;
  margin: 70px 0px 0px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
  transition: all 1s ease;
  /* cursor: pointer; */
}

.motion1 {
  transform: rotate(3deg) translate(18px, -4px);
  z-index: 2;
}
.motion2 {
  transform: rotate(-6deg) translate(-10px, -3px);
  z-index: 1;
}
.motion1:hover {
  transform: translate(45px, 5px) rotate(5deg);
}
.motion1:hover ~ .motion2 {
  transform: translate(-40px, -3px) rotate(-8deg);
}

.contact_container {
  z-index: 1000;
  position: relative;
  height: 45vh;
  background-color: #666;
}

.contact {
  width: 1000px;
  height: 90%;
  margin: auto;
  color: #fafafa;
}

.contact_container div h3 {
  padding-top: 40px;
}
.contact_container a {
  color: #fafafa;
  background: linear-gradient(to right, #fff 50%, rgba(0,0,0,0) 50%);
  background-size: 0% 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.contact_container a:hover {
  background-size: 200% 2px;
}

.contact_container i {
  float: left;
  padding-right: 10px;
}
.contact_container p {
  margin-top: 20px;
}
.contact_container p:first-of-type {
  margin-top: 30px;
}
.copyright {
  height: 10%;
  background-color: #555;
}
.copyright div {
  width: 1000px;
  margin: auto;
  color: #fafafa;
}
.copyright p {
  padding-top: 1.4%;
}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 1156px) {
  .nav div, .container, .moreProject_container > div, .contact, .copyright div {
    width: auto;
    margin: 0px 40px 0px 40px;
  }
  .thumbnail_description {
    padding-top: 15vw;
  }
  .portfolios > div:nth-of-type(4n) { /*every 4th testxs(left)*/
    padding-left: 15vw;
  }
  .portfolios {
    grid-auto-rows: 33vw;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }
}
/*Tablet222*/
@media screen and (min-width: 600px) and (max-width: 890px) {
  .thumbnail_description {
    padding-top: 10vw;
  }
  .portfolios > div:nth-of-type(4n) { /*every 4th testxs(left)*/
    padding-left: 5vw;
  }
  .thumbnail_description p {
    width: 80%;
  }
}

/*Smart phone*/
@media screen and (max-width: 699px) {
  .nav div, .moreProject_container > div, .contact, .copyright div {
    width: auto;
    margin: 0px 40px 0px 40px;
  }
  .about_contatiner div {
    height: 100%;
    width : auto;
    margin : 0 40px 0 40px;
    padding-top: 30vh;
  }
  .container {
    width: auto;
    margin: 0px 00px 0px 00px;
  }
  .portfolios {
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 280px 220px;
  }
  .portfolios > div:nth-of-type(4n) { /*every 4th testxs(left)*/
    padding-left: 0px;
  }
  .portfolios > div:nth-of-type(4n-1) { /*every 3rd images*/
    grid-column-start: 1;
  }
  .thumbnail_description {
    margin-left: 40px;
    padding-top: 0px;
    width: 70vw;
  }
  .thumbnail_description p {
    width: 100%;
  }
  .moreProject_container {
    height: auto;
  }
  .moreProject_container > div {
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 500px;
  }
  .posters div {
    left : 0;
  }
  .motions div {
    margin: 70px 0px 0px 40px;
  }
  .contact {
    height: 85%;
  }
  .copyright {
    height: 15%;
  }
  .copyright p {
    padding-top: 2%;
  }
}
