html, body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 100%;
}
.small_h1 {
  font-size: 2.5em;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  font-weight: 600;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 140%;
}

#porfolioLogo {
  height: 25px;
  width: auto;
}

ul {
  font-size: 1em;
}

li {
  cursor: pointer;
}

.about_container p {
  font-weight: 400px;
  line-height: 160%;
}
.contact_container p {
  font-weight: normal;
  line-height: 140%;
}

a {
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(to right, #000 50%, rgba(0,0,0,0) 50%);
  background-size: 0% 2px;
  background-position:left bottom;
  background-repeat: no-repeat;
  transition: all 0.9s ease;
}
a:hover {
  background-size: 200% 2px;
}
.noUnderline {
  background:rgba(0,0,0,0);
}

/* subtitle {
  font-size: 1em;
  font-weight: 300;
} */



.about_container {
  display: none;
  height: 100vh;
}

.content_small_space {
  margin-top: 20px;
}

.about_container > div {
  height: 100%;
  width : 460px;
  margin-left: calc(calc(100% - 450px) / 2);
  margin-right: calc(calc(100% - 450px) / 2);
  left:0;
  right:0;
  padding-top: 30vh;
}

.title_container {
  position: relative;
  height: 540px;
  top:0px;
  background-color: #fafafa;
}

/* Navigation */

.nav {
  z-index: 1001;
  position: fixed;
  top: 0px;
  height : 50px;
  width: 100%;
  padding-left: 30px;
  background-color: rgba(250,250,250, 0.8);/*#fafafa;*/
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);
  display: flex;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 13px;
}

.nav li {
  padding-right: 60px;
  text-decoration: none;
  font-weight: 600;
  color : #353535;
}
.nav li a {
  text-decoration: none;
  font-weight: 600;
  color : #353535;
}

#title_cont, #about_cont, #body_cont, #moreProject_cont, #copyright  {
  width: 100vw;
  transition: width 0.5s ease;
}
#about_cont_div {
  transition: all 0.5s ease;
}
#contact_cont {
  transform: translateX(300px);
  transition: all 0.5s ease;
}
#language {
  display: none;
}

.body_container {
  z-index: 1000;
  position: relative;
  height: auto;
  background-color: #fafafa;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1px;
}

.portfolios > div {
  cursor: pointer;
  transition: all 0.2s ease;
}
.portfolios > div:hover {
  opacity: 0.85;
}

.portfolio_container {
  display: grid;
  grid-template-rows: auto 260px;
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio_container_half {
  height: 400px;
}

.one_grid_content {
  grid-column: span 1;
}
.two_grid_content {
  grid-column: span 2;
}
.four_grid_content {
  grid-column: span 4;
}

.thumbnail_description {
  position: relative;
  color: white;
  padding: 110px 0px 0px 70px;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,1));
}

.thumbnail_description p {
  margin-top: 10px;
  width: 100%;
}

.thumbnail_description h1 {
  /* margin-top: 5px; */
}

#special_bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 110%;
}

.portfolio_button_container {
  padding-top: 20px;
}

@keyframes buttonColorchange {
  0% {
    background-color: #22e094;
  }
  20% {
    background-color: #1edce3;
  }
  50% {
    background-color: #148fdb;
  }
  70% {
    background-color: #73c928;
  }
  100% {
    background-color: #22e094;
  }
}

.portfolio_button {
  display: none;
  position: absolute;
  bottom: 30px;
  color: #fafafa;
  background-color: #1638b4;
  text-decoration: none;
  padding: 12px 40px 12px 40px;
  border-radius: 30px;
  transition: all .2s ease;
  font-weight: 600;
  /* animation: buttonColorchange 10s ease-out 0s infinite; */
}
.portfolio_button:hover {
  padding-right: 80px;
}


.moreProject_container {
  position: relative;
  height: 600px;
  background-color: #fafafa;
  /* padding-bottom: 5px; */
}

.moreProject_container > div {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 1100px;
  /* height: 100%; */
  margin: auto;
  padding-top: 100px;
  padding-left: 60px;
}


.posters div {
  position: absolute;
  width: 191.25px;
  height: 247.5px;
  margin: 60px 0px 0px 5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
  transition: all 1s ease;
}

.poster1 {
  z-index: 3;
}
.poster2 {
  transform: rotate(-10deg) translate(-15px, -7px);
  z-index: 2;
}
.poster3 {
  transform: rotate(10deg);
  z-index: 1;
}

.poster1:hover {
  transform: rotate(5deg);
}
.poster1:hover ~ .poster2 {
  transform: translate(-40px, -5px) rotate(-15deg);
}
.poster1:hover ~ .poster3 {
  transform: translate(30px, -5px) rotate(15deg);
}

.motions div {
  position: absolute;
  width: 230px;
  height: 230px;
  margin: 70px 0px 0px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
  transition: all 1s ease;
  /* cursor: pointer; */
}

.motion1 {
  transform: rotate(3deg) translate(18px, -4px);
  z-index: 2;
}
.motion2 {
  transform: rotate(-6deg) translate(-10px, -3px);
  z-index: 1;
}
.motion1:hover {
  transform: translate(45px, 5px) rotate(5deg);
}
.motion1:hover ~ .motion2 {
  transform: translate(-40px, -3px) rotate(-8deg);
}

/* Contact */

.contact_container {
  position: fixed;
  height: 100vh;
  width: 300px;
  top:0;
  right: 0;
  background-color: rgba(51,51,51, 0.85);/*333;*/
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  -moz-backdrop-filter: blur(40px);
  -o-backdrop-filter: blur(40px);
  -ms-backdrop-filter: blur(40px);
  z-index: 9999;
}

.contact {
  width: 242px;
  height: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #fafafa;
}

.contact_container div h3 {
  padding-top: 8px;
}
.contact_container a {
  color: #fafafa;
  background: linear-gradient(to right, #fff 50%, rgba(0,0,0,0) 50%);
  background-size: 0% 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.contact_container a:hover {
  background-size: 200% 2px;
}

.contact_container i {
  float: left;
  padding-right: 10px;
}
.contact_container p {
  margin-top: 30px;
}
.contact_container p:first-of-type {
  margin-top: 60px;
}

#contact_close {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 26px;
  border-right: 2.5px solid white;
  border-bottom: 2.5px solid white;
  -ms-transform: translateX(-10px) translateY(-50%) rotate(-45deg);
  -webkit-transform: translateX(-10px) translateY(-50%) rotate(-45deg);
  transform: translateX(-10px) translateY(-50%) rotate(-45deg);
}

#contact_close > h3 {
  -ms-transform: translateY(5px) rotate(45deg);
  -webkit-ransform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
  margin-left: 32px;
  cursor: pointer;
}

.copyright {
  height: 50px;
  background-color: #eee;
}
.copyright div {
  width: 1100px;
  margin: auto;
  color: #999;
}
.copyright p {
  padding-top: 15px;
}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 1256px) {
  h1 {
    font-size: 2.6em;
  }
  .nav div, .moreProject_container > div, .copyright div {
    width: auto;
    margin: 0px 100px 0px 100px;
  }
  .portfolios > div:hover {
    opacity: 1;
  }
  .portfolio_container {
    height: 600px;
  }
  .portfolio_container_half {
    height: 300px;
  }
  .portfolios {
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
  }
  .one_grid_content {
    grid-column: span 2;
  }
  .two_grid_content {
    grid-column: span 4;
  }
  .tablet_two_grid_content {
    grid-column: span 2;
  }
  .four_grid_content {
    grid-column: span 4;
  }
  .thumbnail_description {
    padding-left: 35px;
    padding-top: 90px;
    width: auto;
    padding-right: 35px;
  }
  .portfolio_button {
    display: inline-block;
  }
}

/*Tablet_vertical*/
@media screen and (min-width: 600px) and (max-width: 960px) {
  .portfolios > div:hover {
    opacity: 1;
  }
  .moreProject_container > div {
    padding-left : 0vw;
  }
}


/*Smart phone*/
@media screen and (max-width: 699px) {
  h1 {
    font-size: 2.6em;
  }
  .small_h1 {
    font-size: 2.6em;
  }
  .nav div, .moreProject_container > div, .copyright div {
    width: auto;
    margin: 0px 30px 0px 30px;
  }
  .nav > ul > li:first-child {
    display: none;
  }
  .one_grid_content {
    grid-column: span 1;
  }
  .two_grid_content {
    grid-column: span 1;
  }
  .four_grid_content {
    grid-column: span 1;
  }
  #special_bg {
    background-size: auto 110%;
  }
  .about_container div {
    height: 100%;
    width : auto;
    margin : 0 40px 0 40px;
    padding-top: 30vh;
  }
  .portfolio_container {
    height: 600px;
  }
  .portfolio_container_half {
    height: 300px;
  }
  .portfolios {
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
  }
  .portfolios > div:hover {
    opacity: 1;
  }
  .thumbnail_description {
    padding-left: 30px;
    padding-top: 70px;
    width: auto;
    padding-right: 30px;
  }
  .thumbnail_description p {
    width: 100%;
  }
  .portfolio_button {
    display: inline-block;
  }
  .moreProject_container {
    height: auto;
  }
  .moreProject_container > div {
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 500px;
    padding-left: 30px;
    margin: 0;
  }
  .posters div {
    left : 0;
    margin: 60px 0px 0px 100px;
  }
  .motions div {
    margin: 70px 0px 0px 40px;
  }
  .contact {
    height: calc(100% - 100px);
  }
  .copyright {
    height: 75px;
  }
  .copyright p {
    padding-top: 15px;
  }
}
