html, body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  background-color: #fafafa;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 100%;
}

h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 140%;
}

.about_container p {
  font-size: 1em;
  font-weight: 300;
  line-height: 160%;
}
.contact_container p {
  font-size: 1em;
  font-weight: normal;
  line-height: 140%;
}

ul {
  font-size: 1em;
}

li {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(to right, #000 50%, rgba(0,0,0,0) 50%);
  background-size: 0% 2px;
  background-position:left bottom;
  background-repeat: no-repeat;
  transition: all 0.9s ease;
}
a:hover {
  background-size: 200% 2px;
}

subtitle {
  font-size: 1em;
  font-weight: 300;
}

.about_container {
  display: none;
  height: 100vh;
}

.about_container p {
  padding-top: 10px;
}
.about_container > div {
  height: 100%;
  width : 450px;
  margin : auto;
  left:0;
  right:0;
  padding-top: 30vh;
}

.title_container {
  position: relative;
  height: 570px; /*calc(60vh - 50px);95vh;*/
  top:0px;
  /* background-color: #666;rgb(77,77,77);*/
  background-color: #fafafa;
}

.title_container > div {
  /* position: fixed; */
  /* display:block; */
}

.nav {
  z-index: 1001;
  position: fixed;
  top: 0;
  width: 100%;
  /* bottom: 0; */
  height : 50px;
  background-color: #fafafa;
  /* background-color: rgba(30,30,30,0); */
  /* -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px); */
  /* animation: colorchange 10s ease-out 0s infinite; */
}

.nav div {
  height: 100%;
  width : 1100px;
  margin : auto;
}
.nav div ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 13px;
}

.nav div li {
  margin-right: 60px;
}

.nav div li a {
  text-decoration: none;
  color : #000;
}

.body_container {
  z-index: 1000;
  position: relative;
  height: auto;
  background-color: #fafafa;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.portfolios > div {
  cursor: pointer;
  transition: all 0.2s ease;
}
.portfolios > div:hover {
  opacity: 0.85;
}

.portfolio_container {
  display: grid;
  grid-template-rows: auto 260px;
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.two_grid_thumbnail {
  grid-column: span 2;
}

.thumbnail_description {
  color: white;
  padding: 110px 0px 0px 70px;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,1));
}

.thumbnail_description p {
  margin-top: 10px;
  width: 100%;
}

.thumbnail_description h1 {
  margin-top: 5px;
}

#special_bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 110%;
}

.portfolio_button {
  display: none;
  height : 38px;
  width : 145px;
  margin-top: 20px;
  background-color: red;
  border-radius: 50px;
  font-size: 1em;
  font-weight: normal;
  padding: 15px 10px 0px 40px;
  color: white;
  cursor: pointer;
}
.portfolio_button:hover {
  transform: scale(0.95);
  opacity: 0.95;
}


.moreProject_container {
  position: relative;
  height: 600px;
  background-color: #fafafa;
  padding-bottom: 5px;
}

.moreProject_container > div {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 1100px;
  height: 100%;
  margin: auto;
  padding-top: 100px;
  padding-left: 60px;
}


.posters div {
  position: absolute;
  width: 191.25px;
  height: 247.5px;
  margin: 60px 0px 0px 5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
  transition: all 1s ease;
}

.poster1 {
  z-index: 3;
}
.poster2 {
  transform: rotate(-10deg) translate(-15px, -7px);
  z-index: 2;
}
.poster3 {
  transform: rotate(10deg);
  z-index: 1;
}

.poster1:hover {
  transform: rotate(5deg);
}
.poster1:hover ~ .poster2 {
  transform: translate(-40px, -5px) rotate(-15deg);
}
.poster1:hover ~ .poster3 {
  transform: translate(30px, -5px) rotate(15deg);
}

.motions div {
  position: absolute;
  width: 230px;
  height: 230px;
  margin: 70px 0px 0px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
  transition: all 1s ease;
  /* cursor: pointer; */
}

.motion1 {
  transform: rotate(3deg) translate(18px, -4px);
  z-index: 2;
}
.motion2 {
  transform: rotate(-6deg) translate(-10px, -3px);
  z-index: 1;
}
.motion1:hover {
  transform: translate(45px, 5px) rotate(5deg);
}
.motion1:hover ~ .motion2 {
  transform: translate(-40px, -3px) rotate(-8deg);
}

.contact_container {
  z-index: 1000;
  position: relative;
  height: 400px;
  background-color: #666;
}

.contact {
  width: 1100px;
  height: calc(100% - 50px);
  margin: auto;
  color: #fafafa;
}

.contact_container div h3 {
  padding-top: 40px;
}
.contact_container a {
  color: #fafafa;
  background: linear-gradient(to right, #fff 50%, rgba(0,0,0,0) 50%);
  background-size: 0% 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.contact_container a:hover {
  background-size: 200% 2px;
}

.contact_container i {
  float: left;
  padding-right: 10px;
}
.contact_container p {
  margin-top: 20px;
}
.contact_container p:first-of-type {
  margin-top: 30px;
}
.copyright {
  height: 50px;
  background-color: #555;
}
.copyright div {
  width: 1100px;
  margin: auto;
  color: #fafafa;
}
.copyright p {
  padding-top: 15px;
}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 1256px) {
  .nav div, .moreProject_container > div, .contact, .copyright div {
    width: auto;
    margin: 0px 100px 0px 100px;
  }
  .portfolios {
    grid-template-columns: repeat(1,1fr);
  }
  .portfolios > div:hover {
    opacity: 1;
  }
  .two_grid_thumbnail {
    grid-column: span 1;
  }
  .thumbnail_description {
    padding-left: 35px;
    padding-top: 60px;
    width: auto;
    padding-right: 35px;
  }
  .portfolio_button {
    display: block;
    height : 38px;
    width : 200px;
    padding-left: 0px;
    text-align: center;
  }
  .moreProject_container > div {
    padding-left : 0vw;
  }
}

/*Tablet_vertical*/
@media screen and (min-width: 600px) and (max-width: 960px) {

}


/*Smart phone*/
@media screen and (max-width: 699px) {
  .nav div, .moreProject_container > div, .contact, .copyright div {
    width: auto;
    margin: 0px 30px 0px 30px;
  }
  .two_grid_thumbnail {
    grid-column: span 1;
  }
  #special_bg {
    background-size: auto 110%;
  }
  .about_container div {
    height: 100%;
    width : auto;
    margin : 0 40px 0 40px;
    padding-top: 30vh;
  }
  .portfolio_container {
    height: 700px;
  }
  .portfolios {
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
  }
  .portfolios > div:hover {
    opacity: 1;
  }
  .thumbnail_description {
    padding-left: 30px;
    padding-top: 60px;
    width: auto;
    padding-right: 30px;
  }
  .thumbnail_description p {
    width: 100%;
  }
  .portfolio_button {
    display: block;
    height : 38px;
    width : auto;
    padding-left: 0px;
    text-align: center;
  }
  .moreProject_container {
    height: auto;
  }
  .moreProject_container > div {
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 500px;
    margin: 0;
  }
  .posters div {
    left : 0;
    margin: 60px 0px 0px 100px;
  }
  .motions div {
    margin: 70px 0px 0px 40px;
  }
  .contact {
    height: calc(100% - 100px);
  }
  .copyright {
    height: 100px;
  }
  .copyright p {
    padding-top: 15px;
  }
}
