
html,body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  background-color: black;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1em;
  /* text-align: center; */
}
h2 {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 0.8em;
  /* text-align: center; */
}
p {
  padding: 0;
  padding-top: 5px;
  margin: 0;
  color: white;
  font-size: 0.7em;
  line-height: 130%;
}
img {
  display:block;
  height: 130px;
  width: auto;
  margin: auto;
  padding-top: 35vh;
}
body > img {
  position: fixed;
  height: 40px;
  width: auto;
  margin: 10px;
  bottom:0;
  right:0;
  z-index: 2;
}
.main_container {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  height:100vh;
}
.text_container {
  height: 30px;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  opacity: 0;
  transition: all 1s ease;
}
.game_container {
  width:calc(calc(100vw - 50px) / 4);
  height:100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  background-blend-mode: soft-light;
  transition: all 1s ease;
  z-index: 1;
}
.game_container:hover .text_container {
  height: 90px;
  opacity: 1;
}
.game_container:hover {
  background-size: auto 110%;
}
.download_button {
  /* background-color: #C61010; */
  color: white;
  border-radius: 6px;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  padding: 7px 0 6px 0;
  text-align: center;
}
.game_container::before {
  position: absolute;
  display: block;
  text-align: center;
  content: attr(data-year);
  color: white;
  font-size: calc(calc(100vw - 50px) * 0.5 / 4);
  letter-spacing: -0.1em;
  font-weight: 900;
  line-height: 1;
  top: 0px;
  mix-blend-mode: overlay;
  opacity: 0.2;
  z-index: -1;
}
.mobile_text {
  display: none;
}

/*Tablet*/
@media screen and (min-width: 699px) and (max-width: 1256px) {
  /* .main_container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  img {
    padding-top: 8vh;
  }
  .text_container {
    opacity: 1;
  }
  .text_container {
    height: 90px;
    opacity: 1;
  }
  .game_container::before {
    font-size: 23.1vw;
    letter-spacing: -0.05em;
  }
  .game_container {
    background-size: 100% auto;
    height: 50vh;
  }
  .game_container:hover {
    background-size: 100% auto;
  } */

  .game_container {
    width:calc(calc(100vw - 50px) / 3);
  }
  .game_container::before {
    font-size: calc(calc(100vw - 50px) * 0.5 / 3);
  }
}
/*Smart phone*/
@media screen and (max-width: 699px) {
  .main_container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    height:60vh;
  }
  img {
    padding-top: 16vh;
  }
  .text_container {
    opacity: 1;
  }
  .text_container {
    height: 90px;
    opacity: 1;
  }
  .game_container::before {
    font-size: 45vw;
    letter-spacing: -0.05em;
  }
  .game_container {
    width: 100%;
    background-size: 100% auto;
    height:540px;
  }
  .game_container:hover {
    background-size: 100% auto;
  }
  body > img {
    position: fixed;
  }
}

/* .main_container {
  display: none;
}
body > img {
  position: relative;
  height: 100px;
  width: auto;
  margin: auto;
  padding-top: 35vh;
  bottom:0;
  right:0;
  top:0;
  left:0;
}
.mobile_text {
  display: block;
  padding-top: 10px;
  text-align: center;
} */
