html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Mukta', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto 420px;
  height: 100%;
}

.container_left {
  display: grid;
  grid-template-rows: 50px auto;
  /* background-color: grey; */
  height: 100%;
  width: 100%;
}
.container_right {
  background-color: #1840CF;
  display: grid;
  grid-template-rows: 50px auto;
  height: 100%;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  /* background-color: salmon; */
  color: #1840CF;
  padding-left: 30px;
  font-size: 1.4em;
  /* font-weight: bold; */
}
.word_container {
  width: 100%;
  /* background-color: darkgrey; */
}
#word {
  margin: auto;
  /* margin-left: 120px; */
  margin-top: 30vh;
  font-size: 9vw;
  text-align: center;
  font-weight: bold;
  line-height: 1em;
}
#discription {
  width: 50%;
  margin: auto;
  /* margin-left: 220px; */
  margin-top: 8vh;
  text-align: left;
  font-size: 1.1em;
  line-height: 1.4em;
}
#alphabet_container {
  padding-top: 8px;
  /* background-color: lightblue; */
  color: white;
  padding-left: 23px;
  font-size: 1.4em;
  font-weight: bold;
  /* letter-spacing:10px; */
}
#alphabet_container div, #alphabet_container i {
  float: left;
  padding-right: 7px;
  padding-left: 7px;
}
#alphabet_container i {
  padding-top: 7px;
  padding-bottom: 7px;
}
#alphabet_container div:hover, #alphabet_container i:hover {
  background-color: #3057e3;
}


#control_container {
  color: white;
  font-size: 1.4em;
  margin-top: 35px;
  padding-left: 30px;
}
#allListID, #left_arrow, #right_arrow, #title_ID {
  cursor: pointer;
}
#left_arrow:hover, #right_arrow:hover {
  color : #7390fa;
}
#right_arrow {
  padding-left: 10px;
}


#list_container {
  color: white;
  font-size: 1.4em;
  margin-top: 25vh;
  height: 65vh;
  overflow: auto;
}
#list_container li {
  list-style-type: none;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#list_container li:hover {
  background-color: #3057e3;
}


/*Desktop*/
@media screen and (min-width: 800px) {
  #list_container li:hover::before {
    content: '◄ ';
  }
}

/*Small width size*/
@media screen and (max-width: 800px) {
  .container_right {
    grid-template-rows: auto 80px;
  }
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto 400px;
  }
  #list_container {
    margin-top: 20px;
    height: 216px;
  }
  #list_container li {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 18px;
  }
  #alphabet_container div, #alphabet_container i {
    padding-right: 6px;
    padding-left: 6px;
  }
  #control_container {
    position : relative;
    padding-bottom: 5px;
    margin: 0;
    height : 20px;
    grid-row-start: 2;
    padding-left: 18px;
  }
  #alphabet_container {
    position : relative;
    grid-row-start: 2;
    padding-top: 0;
    padding-left: 13px;
    padding-right: 13px;
  }
  #word {
    margin-top: 35%;
    font-size: 17vw;
  }
  #discription {
    width: 80%;
    margin-top: 4vh;
  }
  #list_container li:hover::before {
    content: '▲ ';
  }
  .control_and_list {
    display: grid;
    grid-template-rows: auto 40px;
  }
}

/*Small height size*/
@media screen and (max-height: 750px) {
  #word {
    margin-top: 18%;
  }
  .container {
    grid-template-rows: auto 300px;
  }
  #list_container {
    margin-top: 10px;
    height: 160px;
  }#discription {
    width: 85%;
    margin-top: 3vh;
  }
}
