html,body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Mukta', sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  display: inline;
  list-style-type:none;
  margin-right: 10px;
  cursor: pointer;
}
h2 {
  font-size: 2em;
  color: #1840CF;
  margin-bottom: 0;
}
p {
  margin-top: 0;
  width: 600px;
}
a {
  color: black;
}
h3 {
  font-size: 1.5em;
  color: #202020;
  /* text-align: center;
  margin-bottom: 200px; */
}

video {
  /* width:calc(100% - 140px); */
  width: calc(100% - 350px);
  /* margin-left: 140px;
  margin-top: 50px; */
  margin-bottom: 0px;
}
img {
  width:100%;
  /* margin-left: calc(calc(100% - 80%) / 2); */
}

#container {
  /* display: grid; */
  /* grid-template-columns: auto 400px; */
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.nav {
  height: 50px;
  color: #202020;
  padding-left: 0px;
  padding-top: 10px;
}

.nav > ul > li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 40px;
}

.nav > ul > li:hover {
  background-color: #eee;
}

.nav > ul > li:first-of-type {
  font-weight: bold;
  color: #1840CF;
  font-size: 1.4em;
}
.nav > ul > li:first-of-type:hover {
    background-color: #fff;
}

#container_left {
  height: 100%;
  width: 100%;
}

#preview {
  position: fixed;
  width : calc(100% - 350px);
  margin-top: calc(25vh - 50px);
  margin-left: 140px;
  z-index: -1;
}

#text_information {
  position: fixed;
  margin-top: calc(70vh - 80px);
  margin-left: 150px;
  width: calc(100vw - 350px - 140px);
  color: #202020;
  font-size: 1em;
}

#about_container, #use_container, #update_container {
  display: none;
  height: calc(95vh - 50px);
  overflow: scroll;
}

.container_left_content {
  margin: 0;
  padding: 0;
}
.content_left {
  /* margin-top: 100px; */
  margin-left: 140px;
  width:calc(100% - 140px);
}
.content_left h2 {
  margin-top: 100px;
}

#use_container .content_left .content_grid {
  display: grid;
  grid-template-columns: 600px auto;
  grid-column-gap: 50px;
  grid-row-gap: 200px;
  width:100%;
  margin-top: 50px;
}
#use_container .content_left .content_grid div {
  margin-top: 100px;
}
#use_container .content_left .content_grid_two {
  display: grid;
  grid-template-columns: 250px auto;
  grid-column-gap: 200px;
  grid-row-gap: 0px;
  width:100%;
  margin-top: 50px;
}
#use_container .content_left .content_grid_two h3 {
  margin-top: 35px;
}
#use_container .content_left .content_grid_three {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  width:100%;
  margin-top: 50px;
}
#use_container .content_left .content_grid_three h3 {
  margin-top: 90px;
  margin-bottom: 0px;
}
#use_container .content_left .content_grid_three p {
  margin-top: 0px;
}

form {
  position: fixed;
  margin-top: calc(70vh - 50px);
  margin-left: 140px;
  width: calc(100vw - 350px - 140px);
}

form .fa-microphone-alt {
  display: none;
  position: fixed;
  margin-left: 20px;
  margin-top: 11px;
  font-size: 1.8em;
  color: #1840CF;
}
form .fa-keyboard {
  /* display: block; */
  display: none;
  position: fixed;
  margin-left: 20px;
  margin-top: 11px;
  font-size: 1.6em;
  color: #1840CF;
}


#textField[type=text] {
  /* width: 130px; */
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 1em;
  color: #1840CF;
  border: 3px solid #1840CF;
  outline: none;
  /* background-color: #1840CF; */
  padding: 12px 20px 12px 58px;
  transition: width 0.4s ease-in-out;
}

#textField[type=text]:focus {
  /* width: 50%; */
}

#micIcon, #keyIcon {
  cursor: pointer;
}



#container_right {
  position: fixed;
  top: 0;
  right: 0;
  /* display: grid; */
  /* grid-template-rows: auto 45px auto; */
  height:100%;
  width: 350px;
  /* border-left: 5px solid #1840CF; */
  background-color: #202020;

  transition: all 1s ease;
}

#bodyCanvas {
  height: 480px;
}

#glyphs {
  padding-left: 25px;
  padding-top: 15px;
}

#labels {
  padding-left: 30px;
  padding-right: 30px;
  height: 400px;
  padding-top: 5px;
  /* background-color: #07248c; */
  /* border-bottom: 0.2px solid #aaa; */
}
#labels p {
  margin-top: 16px;
}
#labels > label {
  display: grid;
  grid-template-columns: 140px auto;
  color: white;
  height: 50px;
}
#labels input {
  margin-top: 24px;
}

#switchButton {
  color: white;
  margin-left: 15px;
  margin-top: 15px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 2px;
  width: 144px;
  height: 30px;
  /* background-color: #202020; */
  background-color: #444;
  border-radius: 20px;
  cursor: pointer;
}
#switchButton:hover {
  background-color: #1840CF;
}

#slideIcon, #camIcon {
  font-size: 1em;
  margin-right: 10px;
}

#switchButton_text {
  display: inline-block;
}

#downloadButton {
  position: absolute;
  right:0;
  bottom:0;
  width: 100%;
  height: 45px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.3em;
  font-weight: bold;
  line-height: -1;
  /* text-transform: uppercase; */
  color: white;
  background-color: #1840CF;
}

#downloadButton:hover {
  background-color: #0b2a99;/*#609FFF;*/
  color: #fff;
  cursor: pointer;
}

.wrapper {
  float: left;
  margin: 0px;
  border:0px solid #ccc;
}

.customSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #444;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.customSlider:hover {
  opacity: 0.7;
}
.customSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.customSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #1840CF;
  border-radius: 50%;
  cursor: pointer;
}


.customCheck {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  margin-top: 18px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.customCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 15%;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.customCheck:hover input ~ .checkMark {
  background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.customCheck input:checked ~ .checkMark {
  background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkMark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customCheck input:checked ~ .checkMark::after {
  display: block;
}

/* Style the checkmark/indicator */
.customCheck .checkMark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #202020;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

body > img {
  display: none;
  position: relative;
  height: 100px;
  width: auto;
  margin: auto;
  padding-top: 35vh;
  bottom:0;
  right:0;
  top:0;
  left:0;
}

.mobile_text {
  display: none;
}

/*Tablet*/
@media screen and (max-width: 1000px) {
  #container {
    display: none;
  }
  body > img {
    display: block;
  }
  .mobile_text {
    display: block;
    padding-top: 30px;
    text-align: center;
  }
}
