:root {
  /* Color palette */
  --color-primary: #2A2A2A;
  /* 기본 프라이머리 컬러 */
  --color-secondary: #2A2A2A;
  /* 보조 컬러 */
  --color-secondary-dark: #2A2A2A;
  /* 어두운 보조 컬러 */

  /* Text colors */
  --text-header-primary: var(--color-primary);
  /* H2 기본 텍스트 색상 */
  --text-header-secondary: #2A2A2A;
  /* 헤더 텍스트 색상 */
  --text-body: #2A2A2A;
  /* 바디 텍스트 색상 */
  --text-light: #FAFAFA;
  /* 어두운 배경용 바디 텍스트 색상 */

  /* Backgrounds */
  --background-primary: #FAFAFA;
  /* 기본 배경색 */
  --background-secondary: #F4F4F4;
  /* 보조 배경색 */
  --background-secondary-dark: #E0E0E0;
  /* 어두운 보조 배경색 */

  /* Padding */
  --padding-4: 4px;
  --padding-8: 8px;
  --padding-16: 16px;
  --padding-24: 24px;
  --padding-32: 32px;
  --padding-36: 36px;
  --padding-40: 40px;
  --padding-48: 48px;
  --padding-64: 64px;
  --padding-80: 80px;
  --padding-88: 88px;
  --padding-96: 96px;
  --padding-104: 104px;

  /* Padding-Special */
  --padding-content: var(--padding-24);
  --padding-image: var(--padding-4);
  --padding-column: var(--padding-64);
  --padding-top-bottom-large: var(--padding-96);
  --padding-top-bottom-medium: var(--padding-32);
  --padding-left-right: var(--padding-80);
  --padding-left-right-full: var(--padding-32);

  /* Radius */
  --radius-image: 8px;
  --radius-card-large: 24px;
  --radius-card-medium: 8px;
}

[data-theme="dark"] {
  /* Text colors */
  --text-header-primary: #FAFAFA;
  /* H2 기본 텍스트 색상 */
  --text-header-secondary: #FAFAFA;
  /* 헤더 텍스트 색상 */
  --text-body: #FAFAFA;
  /* 바디 텍스트 색상 */

  /* Backgrounds */
  --background-primary: #222222;
  /* 기본 배경색 */
  --background-secondary: #1D1D1D;
  /* 보조 배경색 */
  --background-secondary-dark: #121212;
  /* 어두운 보조 배경색 */
}

.theme-transfont {
  /* Color palette */
  --color-primary: #1E1E1E;
  /* 기본 프라이머리 컬러 */
  --color-secondary: #1A49D4;
  /* 보조 컬러 */
  --color-secondary-dark: #07248C;
  /* 어두운 보조 컬러 */

  /* Text colors */
  --text-header-primary: #07248C;
  /* H2 기본 텍스트 색상 */
}

.theme-marvlon {
  /* Color palette */
  --color-primary: #371B0F;
  /* 기본 프라이머리 컬러 */
  --color-secondary: #754E34;
  /* 보조 컬러 */
  --color-secondary-dark: #64381C;
  /* 어두운 보조 컬러 */
  --text-header-primary: var(--color-primary);
}

.theme-mpsRefresh {
  /* Color palette */
  --color-primary: #35298D;
  /* 기본 프라이머리 컬러 */
  --color-secondary: #A1DADF;
  /* 보조 컬러 */
  --color-secondary-dark: #81C8CF;
  /* 어두운 보조 컬러 */
  --text-header-primary: var(--color-primary);
}

.theme-strider {
  /* Color palette */
  --color-primary: #01308E;
  /* 기본 프라이머리 컬러 */
  --color-secondary: #67E3F9;
  /* 보조 컬러 */
  --color-secondary-dark: #16AFDF;
  /* 어두운 보조 컬러 */
  --text-header-primary: var(--color-primary);
}

.theme-emailTemplate {
  /* Color palette */
  --color-primary: #01308E;
  /* 기본 프라이머리 컬러 */
  --color-secondary: #8EE68C;
  /* 보조 컬러 */
  --color-secondary-dark: #6AD051;
  /* 어두운 보조 컬러 */
  --text-header-primary: var(--color-primary);
}

.theme-pmlpTemplate {
  /* Color palette */
  --color-primary: #13596D;
  /* 기본 프라이머리 컬러 */
  --color-secondary: #D2BB95;
  /* 보조 컬러 */
  --color-secondary-dark: #B99A66;
  /* 어두운 보조 컬러 */
  --text-header-primary: var(--color-primary);
}

.theme-branding {
  /* Color palette */
  --color-primary: #005FC5;
  /* 기본 프라이머리 컬러 */
  --color-secondary: #FFE02F;
  /* 보조 컬러 */
  --color-secondary-dark: #FF9B9B;
  /* 어두운 보조 컬러 */
  --text-header-primary: var(--color-primary);
}

.theme-404 {
  /* Color palette */
  --color-primary: #00698b;
  /* 기본 프라이머리 컬러 */
  --color-secondary: #f08de1;
  /* 보조 컬러 */
  --color-secondary-dark: #db49c5;
  /* 어두운 보조 컬러 */

  /* Text colors */
  --text-header-primary: var(--color-primary);
  /* H2 기본 텍스트 색상 */
}


html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  background-color: var(--background-primary);
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5em;
  font-weight: 700;
  line-height: 120%;
  color: var(--text-body);
}

h2 {
  color: var(--text-header-primary);
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 120%;
  padding-bottom: var(--padding-8);
  text-align: center;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.875em;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: var(--padding-16);
  color: var(--text-body);
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 140%;
  color: var(--text-body);
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 180%;
  color: var(--text-body);
}

#porfolioLogo {
  height: 24px;
  width: auto;
}

ul {
  list-style: none;
  font-size: 1.125rem;
  padding-left: 1.5em;
}

li {
  line-height: 1.5em;
  margin-bottom: 1em;
}

li::before {
  content: "–";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

img {
  display: block;
  width: 100%;
}

video {
  display: block;
  width: 100%;
}

a {
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(to right, var(--text-light) 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 0% 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: background-size 0.9s ease;
}

a:hover {
  background-size: 200% 2px;
}

.noUnderline {
  line-height: 0;
  background: none;
}

#language {
  display: none;
}

h2+svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: var(--padding-content);
}


/* Navigation */
nav {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1001;
  top: 0px;
  height: 56px;
  width: 100%;
  padding: var(--padding-16) calc(var(--padding-left-right-full) + 4px);
  justify-content: space-between;
  box-sizing: border-box;
}

/* nav svg {
  padding-top: 12px;
} */

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  text-decoration: none;
  font-weight: 600;
  color: var(--text-light);
  margin: 0;
}

nav li::before {
  z-index: 999;
  content: "";
}

nav ul:last-child li:nth-child(2) {
  padding-left: var(--padding-32);
}

nav li a {
  font-weight: 600;
  color: var(--text-light);
}


/* -------- 디자인 -------- */


/* 섹션 */
section {
  display: flex;
  /* Flexbox 활성화 */
  flex-direction: column;
  /* 세로로 정렬 */
  gap: var(--padding-top-bottom-large);

  padding: var(--padding-top-bottom-large) var(--padding-left-right);
}

/* 컨테이너 */
.content-large-container {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.content-medium-container {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 920px;
  margin: auto;
  z-index: 1;
}

/* 그림자 */
.image-shadow {
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); */
  filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.1));
}

/* 텍스트 */
.center-text {
  text-align: center;
}

/* 이미지 둥글기 */
.image-full-border {
  border-radius: var(--radius-image);
}

.t-r-border {
  border-radius: var(--radius-image);
  border-top-right-radius: 4px !important;
}

.t-l-border {
  border-radius: var(--radius-image);
  border-top-left-radius: 4px !important;
}

.b-r-border {
  border-radius: var(--radius-image);
  border-bottom-right-radius: 4px !important;
}

.b-l-border {
  border-radius: var(--radius-image);
  border-bottom-left-radius: 4px !important;
}

/* 모듈 상하간격 */
.module-gap-medium {
  padding-top: var(--padding-top-bottom-medium) !important;
  padding-bottom: var(--padding-top-bottom-medium) !important;
}

.module-gap-none {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* 콘텐츠 간격 */
/* .content-gap {
  padding-bottom: var(--padding-content);
} */

.subsection {
  display: flex;
  flex-direction: column;
  gap: var(--padding-content);
}

.subsection-medium {
  display: flex;
  flex-direction: column;
  gap: var(--padding-48);
}

/* 그리드 레이아웃 */
.two-one-one-grid,
.two-two-two-grid,
.two-two-one-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: var(--padding-column);
  align-items: center;
}

.three-three-one-grid,
.three-three-two-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: var(--padding-column);
  align-items: center;
}

.four-four-two-grid,
.four-two-two-grid,
.four-two-one-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: var(--padding-column);
  align-items: center;
}

.six-three-two-grid,
.six-three-three-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: var(--padding-column);
  align-items: center;
}

/* -------- 컴포넌트 디자인 -------- */

/* 네비게이션 로고 */
.nav-logo {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  object-fit: contain;
}

/* 웹 브라우저 모양 디자인 */
.webpage-container {
  position: relative;
  width: 100%;
  border-radius: var(--radius-image);
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.4);
  margin: auto;
  align-self: center;
}

.webpage-container-top {
  display: flex;
  align-items: center;
  background-color: var(--background-secondary);
  height: 36px;
  border-radius: var(--radius-image) var(--radius-image) 0px 0px;
}

.webpage-container-top div {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 16px;
}

.webpage-container-top div:nth-child(1) {
  margin-left: 12px;
  background-color: rgb(121, 121, 121);
}

.webpage-container-top div:nth-child(2) {
  background-color: rgb(166, 166, 166);
}

.webpage-container-top div:nth-child(3) {
  background-color: rgb(115, 115, 115);
}

.webpage-container>div:nth-child(2) {
  height: auto;
  border-radius: 0px 0px var(--radius-image) var(--radius-image);
}

.webpage-container img {
  position: relative;
  border-radius: 0px 0px var(--radius-image) var(--radius-image);
}

/* 섹션에 회색 박스 씌우기 */
.light-gray-box {
  background-color: var(--background-secondary);
  border-radius: var(--radius-card-large);
  padding: var(--padding-left-right);
  box-sizing: border-box;
}

/* 나눠진 그리도 속 h2는 좌측정렬 */
.two-two-one-grid h2 {
  text-align: left;
}

/* 장식도 좌측정렬 */
.two-two-one-grid h2+svg {
  margin-left: 0;
  margin-right: auto;
}

/* 디자인 시스템 색상 카드 */
.color-card div {
  height: 64px;
  width: 100%;
  border-radius: var(--radius-image);
}

.color-card p {
  text-align: center;
  padding-top: var(--padding-8);
}


/* -------- 모듈 디자인 -------- */

header h1,
header p {
  color: var(--text-light);
}

/* 포트폴리오 상단 타이틀 */
.title-module {
  height: 400px;
  background-color: var(--color-primary);
}

.title-module .content-medium-container {
  height: 100%;
}

.title-content {
  text-align: left;
  align-self: center;
}

.title-content h1 {
  margin-bottom: var(--padding-16);
  text-align: left;
}

.title-content p {
  text-align: left;
  opacity: 50%;
}

/* 포트폴리오 설명칸 */
.portfolio-description-module {
  position: relative;
  background-color: var(--color-secondary);
}

/* 포트폴리오 설명칸 장식 */
.portfolio-description-decoration {
  position: absolute;
  background-color: var(--color-secondary-dark);
  width: 300px;
  height: 100%;
  top: 0px;
  right: 0px;
  transform: skewX(30deg) translate(100px);
}

/* 오버뷰 모듈 */
.overview-module {
  position: relative;
  background-color: transparent;
}

.overview-module .two-two-one-grid {
  align-items: flex-start;
}

.overview-content {
  display: flex;
  gap: var(--padding-16);
}

.overview-content .svg-icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  object-fit: contain;
}

/* 인트로 이미지 모듈 */
.full-image-module {
  padding-left: var(--padding-left-right-full);
  padding-right: var(--padding-left-right-full);
}

.full-image-module .two-two-one-grid {
  padding-top: var(--padding-image);
  gap: var(--padding-image);
}

/* Footer */
.footer-container {
  background-color: var(--background-secondary-dark);
}

.footer-container h2 {
  color: var(--text-header-primary);
}

.other-project-container::-webkit-scrollbar {
  display: none;
}

.other-project-container {
  display: flex;
  gap: var(--padding-content);
}

.other-project-container div {
  position: relative;
  height: 200px;
  width: 100%;
  color: var(--text-light);
  overflow: visible;
}

.other-project-container h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--padding-16);
  color: var(--text-light);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

/* Contact */
.contact-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-content);
  position: fixed;
  height: auto;
  width: 90%;
  max-width: 340px;
  top: 60px;
  right: 16px;
  padding: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: rgba(250, 250, 250, 0.8);
  filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);
}

.contact-container a {
  color: var(--text-body);
}

.contact-container i {
  float: left;
  padding-right: 8px;
}

#contact-cont {
  transform: translate(100%, -50%) scale(0);
  transition: all 0.5s ease;
  z-index: 9999;
}


/* Copyright */
.copyright {
  display: flex;
  height: 48px;
  background-color: var(--color-primary);
  text-align: center;
  align-self: center;
  bottom: 0;
}

.copyright p::after {
  font-size: 0.8em;
  color: var(--background-secondary-dark);
  content: "Copyright ⓒ 2025 by Sangwoo Hahn | All Rights Reserved."
}


/* -------- 디바이스 대응 디자인 -------- */


/* 기본 (모바일 우선 접근) */
@media (max-width: 767px) {

  /* 모바일 */
  :root {
    --padding-left-right: var(--padding-16);
    --padding-left-right-full: var(--padding-16);
    --padding-top-bottom-large: var(--padding-48);
    --padding-top-bottom-medium: var(--padding-24);
    --padding-column: var(--padding-24);
  }

  /* -------- 디자인 -------- */
  /* 그리드 레이아웃 */
  .two-one-one-grid,
  .two-two-one-grid,
  .three-three-one-grid,
  .four-two-one-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .four-four-two-grid,
  .two-two-two-grid,
  .four-two-two-grid,
  .three-three-two-grid,
  .six-three-two-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .six-three-three-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* 이미지 둥글기 */
  .image-full-border {
    border-radius: var(--radius-image);
  }

  .t-r-border,
  .t-l-border,
  .b-r-border,
  .b-l-border {
    border-radius: var(--radius-image) !important;
  }

  /* -------- 컴포너트 디자인 -------- */
  /* 섹션에 회색 박스 씌우기 */
  .light-gray-box {
    padding: var(--padding-top-bottom-large) var(--padding-left-right);
  }

  /* -------- 모듈 디자인 -------- */
  /* 포트폴리오 상단 타이틀 */
  .title-module {
    height: auto;
  }

  .title-content {
    margin-top: 48px;
    text-align: center;
  }

  .title-content h1,
  .title-content p {
    text-align: center;
  }

  /* 포트폴리오 설명칸 장식 */
  .portfolio-description-decoration {
    display: none;
  }

  .image-full-border {
    border-radius: var(--radius-image);
  }

  .image-bottom-left-border {
    border-radius: var(--radius-image);
  }

  .image-bottom-right-border {
    border-radius: var(--radius-image);
  }

  /* Footer 모듈 */
  .footer-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-container h2 {
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
  }

  .other-project-container {
    display: flex;
    gap: var(--padding-image);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 0;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
    box-sizing: border-box;

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .other-project-container::-webkit-scrollbar {
    display: none;
  }

  .other-project-container>div {
    position: relative;
    height: 200px;
    width: calc(100vw - 64px);
    scroll-snap-align: center;
    flex-shrink: 0;
  }

  .copyright p::after {
    font-size: 0.75em;
  }
}

/* 태블릿 (가로 모드) */
@media (min-width: 768px) and (max-width: 1023px) {

  /* 태블릿 */
  :root {
    --padding-left-right: var(--padding-32);
    --padding-top-bottom-large: var(--padding-64);
    --padding-top-bottom-medium: var(--padding-32);
    --padding-column: var(--padding-32);
  }

  /* -------- 디자인 -------- */
  /* 그리드 레이아웃 */

  .four-four-two-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .three-three-one-grid,
  .three-three-two-grid,
  .six-three-two-grid,
  .six-three-three-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .two-two-one-grid,
  .two-two-two-grid,
  .four-two-two-grid,
  .four-two-one-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .two-one-one-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .two-one-one-grid .t-r-border,
  .two-one-one-grid .t-l-border,
  .two-one-one-grid .b-r-border,
  .two-one-one-grid .b-l-border {
    border-radius: var(--radius-image) !important;
  }

  /* -------- 컴포너트 디자인 -------- */
  /* 섹션에 회색 박스 씌우기 */
  .light-gray-box {
    padding: var(--padding-top-bottom-large) var(--padding-left-right);
  }

  /* -------- 모듈 디자인 -------- */
  /* 포트폴리오 상단 타이틀 */
  .title-module {
    height: 360px;
  }

  .other-project-container {
    gap: var(--padding-image);
  }

}

/* 데스크탑 (중형 화면) */
@media (min-width: 1024px) and (max-width: 1279px) {
  /* 데스크탑 */
}