:root {
  /* Color palette */
  /* 기본 프라이머리 컬러 */
  --color-primary: #853BA9;
  /* 보조 컬러 - 없음 */
  --color-secondary: #FFFFFF;
  /* 어두운 회색 */
  --color-dark-gray: #1F1F1F;
  /* 회색 */
  --color-gray: #B5A6B7;


  /* Text colors */
  /* H2 기본 텍스트 색상 */
  --text-header: var(--color-primary);
  /* 헤더 텍스트 색상 */
  --text-header-dark-gray: var(--color-dark-gray);
  /* 바디 텍스트 색상 */
  --text-body: var(--color-dark-gray);
  /* 어두운 배경용 텍스트 색상 */
  --text-light: #FFFFFF;

  /* Backgrounds */
  /* 기본 배경색 */
  --background-primary: #FFFAF1;
  /* 보조 배경색 - 흰색 */
  --background-secondary: #FFFFFF;

  /*달력색상*/
  --sun: #D20000;
  --sat: #0700C8;

  /* Padding */
  --padding-4: 4px;
  --padding-8: 8px;
  --padding-16: 16px;
  --padding-24: 24px;
  --padding-32: 32px;
  --padding-36: 36px;
  --padding-40: 40px;
  --padding-48: 48px;
  --padding-56: 56px;
  --padding-64: 64px;
  --padding-80: 80px;
  --padding-88: 88px;
  --padding-96: 96px;
  --padding-104: 104px;
  --padding-200: 200px;

  /* Radius */
  --radius-image: 8px;
  --radius-card: 24px;
  --radius-button: 999px;
}

.Language-Korean,
input,
textarea {
  /* font-family: 'MaruBuriExtraLight';
  font-family: 'MaruBuriLight'; */
  font-family: 'MaruBuri';
  /* font-family: 'MaruBuriBold';
  font-family: 'MaruBuriSemiBold'; */
}

.Language-English {
  font-family: "PT Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.1em;
  font-style: normal;
}


html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 700;
  line-height: 120%;
  color: var(--text-body);
}

h2 {
  color: var(--text-header);
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 120%;
  text-align: center;
  padding-bottom: var(--padding-32);
}

.Language-Korean h2 {
  font-family: 'MaruBuriSemiBold';
}

.Language-English h2 {
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 1.5em;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 160%;
  color: var(--text-body);
}

img {
  display: block;
  width: 100%;
}

video {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.Language-Korean button {
  font-family: 'MaruBuriSemiBold';
}

.Language-English button {
  font-family: "PT Serif", serif;
}

/* -------- 모듈 디자인 -------- */

section {
  position: relative;
  padding: var(--padding-200) var(--padding-24);
}

.title-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

.title-text {
  position: absolute;
  width: 280px;
  top: 46vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-date {
  position: absolute;
  width: 140px;
  top: 46vh;
  left: 50%;
  transform: translate(-50%, -50%) translateY(185px);
}

.title-ring {
  position: absolute;
  width: 108px;
  top: 46vh;
  left: 50%;
  transform: translate(-50%, -50%) translateY(45px);
}

.title-shine {
  position: absolute;
  width: 124px;
  top: 46vh;
  left: 50%;
  transform: translate(-50%, -50%) translate(-11px, 40px) scale(0);
  opacity: 0.5;
}

.title-flower-01 {
  position: absolute;
  top: -40px;
  left: -20px;
  width: 100px;
  pointer-events: none;
}

.title-flower-02 {
  position: absolute;
  top: -50px;
  left: 30px;
  width: 205px;
  pointer-events: none;
}

.title-flower-03 {
  position: absolute;
  bottom: -120px;
  left: -30px;
  width: 205px;
  pointer-events: none;
}

.title-flower-04 {
  position: absolute;
  bottom: 10px;
  left: 120px;
  width: 90px;
  pointer-events: none;
  z-index: -1;
}

.title-flower-05 {
  position: absolute;
  bottom: -100px;
  right: -80px;
  width: 240px;
  pointer-events: none;
}

.title-flower-leaf-01 {
  position: absolute;
  top: 20px;
  left: 230px;
  width: 43px;
  pointer-events: none;
}

.title-flower-leaf-02 {
  position: absolute;
  top: 180px;
  left: 10px;
  width: 43px;
  pointer-events: none;
}

.title-flower-leaf-03 {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 50px;
  pointer-events: none;
}

.title-flower-leaf-04 {
  position: absolute;
  bottom: 110px;
  left: 210px;
  width: 40px;
  pointer-events: none;
}

.title-flower-leaf-05 {
  position: absolute;
  bottom: 44vh;
  right: 14px;
  width: 40px;
  pointer-events: none;
}

.flower-leaf {
  position: absolute;
  top: -120px;
  right: -50px;
  width: 35px;
  pointer-events: none;
  transform: rotate(180deg);
}

.flower-01 {
  position: absolute;
  left: -210px;
  top: 120px;
  width: 140px;
  pointer-events: none;
  transform: scale(2) rotate(-30deg);
}

.name-container {
  position: absolute;
  display: flex;
  /* transform: scale(1.4) translateY(32px); */
}

.photo-groom,
.photo-bride {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  text-align: center;
}

.photo-groom {
  transform: scale(1.4) translateY(32px) translateX(-50vw);
}

.photo-bride {
  transform: scale(1.4) translateY(32px) translateX(50vw);
}

.photo-groom img {
  transform: rotate(3deg);
}

.photo-bride img {
  transform: rotate(-3deg);
}

.photo-groom img:first-child,
.photo-bride img:first-child {
  width: 140px;
}

.parent-text {
  font-size: 0.9em;
  padding-top: var(--padding-16);
}

.Language-English .parent-text {
  display: none;
}

.name-text {
  font-size: 1.6em;
}

.Language-Korean .name-text {
  font-family: 'MaruBuriSemiBold';
}

.Language-English .name-text {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-size: 2.5em;
}

.background-patttern {
  position: absolute;
  width: 140%;
  height: 140%;
  background-image: url("../images/wedding/pattern.webp");
  background-repeat: repeat;
  background-size: 40%;
  background-position: center center;
  transform: rotate(8deg);
  z-index: -1;
}


.intro-text {
  display: flex;
  position: absolute;
  text-align: center;
  top: 46vh;
  left: 50%;
  transform: translate(-50%, -50%) translateY(220px);
  opacity: 0;
  width: 100%;
  justify-content: center;
  padding: var(--padding-16);
  box-sizing: border-box;
}

.intro-text p {
  width: 80%;
}

.date-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--padding-64);
  padding-top: var(--padding-104);
  padding-bottom: var(--padding-64);
  background-color: var(--background-primary);
}

.date-container {
  text-align: center;
}

.date-text {
  font-size: 2.6em;
}

.time-text {
  font-size: 1.4em;
  line-height: 2.4em;
}

.date-module>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: var(--padding-64);
  width: 100%;
}

.date-module .location-text {
  font-size: 1.4em;
  line-height: 2.2em;
  color: var(--color-primary)
}

.date-module svg {
  position: absolute;
  top: 53%;
  left: 50%;
  width: 60px;
  height: 60px;
  fill: var(--color-primary);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.Language-English .date-module .pill-button {
  width: 240px;
  max-width: none;
}

.Language-English .date-module .date-text {
  font-size: 2em;
}

.Language-English .date-module .time-text {
  font-size: 1.2em;
}

.Language-English .date-module .location-text {
  font-size: 1.2em;
  line-height: 1.8em;
}

.Language-Korean .date-module .time-text,
.Language-Korean .date-module .location-text {
  font-family: 'MaruBuriSemiBold'
}


.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: var(--cell-h);
  gap: var(--gap);
  width: 100%;
  max-width: 400px;
  align-items: center;
  justify-content: center;
}

.dow,
.day {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 14px;
  box-sizing: border-box;
  font-size: 1rem;
}

.Language-English .dow,
.Language-English .day {
  font-size: 1.2rem;
}

.day span {
  z-index: 2;
}

.sun {
  color: var(--sun);

}

.sat {
  color: var(--sat);
}

.d-day {
  color: var(--text-light) !important;
}

/* 갤러리 */
.gallery-module {
  padding: var(--padding-48) 0;
}

.gallery-module .images {
  display: flex;
  gap: var(--padding-8);
  overflow: hidden;
  padding: 0 var(--padding-8);
  transition: transform 0.3s ease;
}

.images img {
  flex: 0 0 auto;
  height: 520px;
  width: 90%;
  border-radius: 4px;
  object-fit: cover;
  object-position: center top;
  user-select: none;
  pointer-events: auto;
}

.indicator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-8);
  margin-top: var(--padding-24);
}

.indicator-wrapper .prev,
.indicator-wrapper .next {
  width: 22px;
  height: 22px;
  border: 2px solid var(--color-primary);
  border-radius: 2px;
  border-top: none;
  border-right: none;
  background: transparent;
  cursor: pointer;
  transform: rotate(45deg);
}

/* 좌/우 회전 */
.indicator-wrapper .next {
  transform: rotate(-135deg);
}

.indicator {
  display: flex;
  justify-content: center;
  gap: var(--padding-4);
}

.indicator span {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.indicator span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--color-gray);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.indicator span.active::after {
  background-color: var(--color-primary);
}

/* 라이트박스 스타일 */
.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.lightbox.active {
  display: flex;
}

.lightbox img.lightbox-image {
  max-height: 85vh;
  max-width: 95vw;
  border-radius: 4px;
  object-fit: contain;
}

/* 닫기 버튼 */
.lightbox .close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.lightbox .close::before,
.lightbox .close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 999px;
  background-color: var(--color-primary);
  transform-origin: center;
}

.lightbox .close::before {
  transform: rotate(45deg);
}

.lightbox .close::after {
  transform: rotate(-45deg);
}

/* 좌우 화살표 */
.arrow-wrapper {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 48px;
  z-index: 999;
}

.arrow-wrapper .prev,
.arrow-wrapper .next {
  width: 22px;
  height: 22px;
  border: 2px solid var(--color-primary);
  border-radius: 2px;
  border-top: none;
  border-right: none;
  background: transparent;
  cursor: pointer;
  transform: rotate(45deg);
}

/* 좌/우 회전 */
.arrow-wrapper .next {
  transform: rotate(-135deg);
}

.map-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: var(--padding-32); */
  padding-top: var(--padding-104);
  padding-bottom: var(--padding-104);
}

.map-module>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--padding-32);
}

.map-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--padding-64);
  align-self: stretch;
  text-align: center;
}

.map-text-container>div {
  width: 100%;
}

.transportation-info {
  display: flex;
  flex-direction: column;
  gap: var(--padding-8);

}

.map-text-container .location-text {
  color: var(--text-body);
  font-size: 1.5em;
  font-weight: 600;
}

.Language-English .map-text-container .location-text {
  font-size: 1.1em;
}

.map-text-container .address-text {
  color: var(--color-gray);
}

.transportation-item {
  display: flex;
  /* align-items: center; */
  gap: var(--padding-8);
  text-align: left;
}

.transportation-item svg {
  width: 24px;
  height: 24px;
  stroke: var(--color-primary);
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  overflow: visible;
}

.map-wrapper {
  width: 100%;
  height: 240px;
  border-radius: 8px;
  overflow: hidden;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-wrapper .ol-attribution {
  display: none;
}

.map-wrapper .ol-zoom button {
  color: var(--color-primary);
}

.map-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding-24);
  text-align: left;
  width: 100%;
}

.map-links a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--color-primary);
}

.map-links a span {
  position: relative;
  display: inline-block;
  font-family: 'MaruBuriSemiBold'
}

.Language-English .map-links a span {
  font-weight: 600;
  font-size: 0.8em;
}

.map-links a span::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, var(--color-primary), var(--color-primary));
  transition: width 0.4s ease;
}

.map-links a:hover span::after {
  width: 100%;
}

.map-links svg {
  width: 24px;
  height: 24px;
  stroke: var(--color-primary);
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  overflow: visible;
}

.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--padding-16);
}

.dresscode-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);
  padding-top: var(--padding-104);
  padding-bottom: var(--padding-104);
  text-align: center;
}

.dresscode-module .color-container {
  display: flex;
  gap: var(--padding-24);
  justify-content: center;
}

.dresscode-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-24);
  justify-content: center;
}

.dresscode-module .color-container div {
  width: 36px;
  height: 36px;
  border-radius: 999px;
}

.cropped-wrapper {
  width: 100%;
  height: calc(100vw * 0.45);
  overflow: hidden;
  position: relative;
}

.cropped-image {
  width: 100%;
  height: auto;
  position: relative;
  top: -36%;
  display: block;
}

.RSVP-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--padding-32);
  background-color: var(--background-primary);
  padding-top: var(--padding-104);
  padding-bottom: var(--padding-104);
}

.RSVP-module>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--padding-32);
}

.RSVP-module.custom-modal {
  padding: 0;
}

.RSVP-module>div.custom-modal-content {
  padding: var(--padding-36) var(--padding-16);
}

.RSVP-module.custom-modal>div {
  gap: var(--padding-16);
}

.RSVP-module.custom-modal form {
  padding: 0;
}

.RSVP-module.custom-modal p {
  padding: 0;
}

.RSVP-module.custom-modal .pill-button-fill {
  max-width: none;
}

.RSVP-module .tab-buttons {
  display: flex;
  gap: 0;
}

.RSVP-module .tab-buttons button {
  border: none;
  width: 50%;
  background-color: var(--background-secondary);
  color: var(--color-gray);
  padding: var(--padding-16) var(--padding-24);
  border-bottom: 1px solid var(--color-gray);
  font-size: 1em;
  cursor: pointer;
}

.Language-English .RSVP-module .tab-buttons button {
  font-size: 0.9em;
}

.RSVP-module .tab-buttons button:hover {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.RSVP-module .tab-buttons .active {
  color: var(--color-primary) !important;
  border-bottom: 3px solid var(--color-primary) !important;
}

.RSVP-module form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--padding-24);
  padding: var(--padding-24);
  background-color: var(--background-secondary);
  border-radius: 24px;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--padding-16);
}

input {
  width: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  height: 48px;
  font-size: 1em;
  color: var(--color-dark-gray);
  padding: var(--padding-16) var(--padding-16);
  box-sizing: border-box;
}

.input::placeholder {
  color: var(--color-gray);
}

.RSVP-module .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-16);
}

.button-absence {
  background-color: var(--color-gray) !important;
  border-color: var(--color-gray) !important;
}

.button-absence:hover {
  background: none !important;
  color: var(--color-gray) !important;
}

.button-absence:hover svg {
  stroke: var(--color-gray) !important;
}

.message-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--padding-104);
  padding-bottom: var(--padding-104);
}


.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-24);
  width: 100%;
}

.writing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--padding-24);
}

.message-module textarea {
  resize: vertical;
  width: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  height: 120px;
  font-size: 1em;
  color: var(--color-dark-gray);
  padding: var(--padding-16) var(--padding-16);
  box-sizing: border-box;
  scrollbar-width: none;
}

.message-container button {
  max-width: 160px;
}

.message-list-container {
  background-color: var(--background-primary);
  padding: var(--padding-16);
  border-radius: 16px;
  width: 100%;
  box-sizing: border-box;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: var(--padding-16);
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message-list-container::-webkit-scrollbar {
  display: none;
}

.message-item {
  padding: var(--padding-16) 12px;
  background-color: var(--background-secondary);
  border-radius: 8px;
  width: 100%;
}

.message-name {
  font-family: "MaruBuriSemiBold";
  font-size: 0.9em;
  color: var(--color-primary);
  padding-bottom: var(--padding-8);
}

.message-content {
  font-size: 0.9em;
  font-weight: 100;
  line-height: 150%;
}

.footer-module {
  display: flex;
  justify-content: center;
  background-color: var(--background-primary);
  padding-top: var(--padding-32);
  padding-bottom: var(--padding-32);
}

.footer-module>div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: var(--padding-16);
  place-items: center;
  width: 100%;
}

.footer-module button:last-child {
  grid-column: span 2;
  max-width: 100%;
}

.contact-modal,
.account-modal {
  display: flex;
  flex-direction: column;
  gap: var(--padding-24);
  width: 100%;
}

.contact-modal .contact-container,
.account-modal .account-container {
  padding: var(--padding-16);
  width: 80%;
}

.contact-tabs,
.account-tabs {
  display: flex;
  width: 100%;
}

.Language-English .contact-modal .contact-container,
.Language-English .account-modal .account-container {
  padding: var(--padding-32) !important;
}

.Language-Korean .contact-modal h2,
.Language-Korean .account-modal h2 {
  display: none;
}

.Language-English .contact-modal h2,
.Language-English .account-modal h2 {
  padding-bottom: var(--padding-24);
}

.Language-English .contact-tabs,
.Language-English .account-tabs {
  display: none;
}

.Language-English .contact-panels,
.Language-English .account-panels {
  display: flex;
  flex-direction: column;
  gap: var(--padding-16);
}

.Language-English .contact-panel,
.Language-English .account-panel {
  padding: 0 !important;
  gap: var(--padding-16) !important;
}

.Language-English .contact-card {
  display: none;
}

.Language-English .account-panel>div {
  display: none;
}

.Language-Korean .venmo-card {
  display: none !important;
}

.Language-English .venmo-card {
  display: flex !important;
}

.Language-English .contact-groom-kr,
.Language-English .contact-groom-us,
.Language-English .contact-bride-kr,
.Language-English .contact-bride-us {
  display: flex !important;
}

.Language-Korean .contact-groom-us,
.Language-Korean .contact-bride-us {
  display: none;
}

.contact-tab,
.account-tab {
  border: none;
  width: 50%;
  background-color: var(--background-secondary);
  color: var(--color-gray);
  padding: var(--padding-16) var(--padding-24);
  border-bottom: 1px solid var(--color-gray);
  font-size: 1em;
  cursor: pointer;
}

.contact-tab:hover,
.account-tab:hover {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}


.contact-tab.active,
.account-tab.active {
  color: var(--color-primary) !important;
  border-bottom: 3px solid var(--color-primary) !important;
}

.contact-panels,
.account-panels {
  width: 100%;
}

.contact-panel,
.account-panel {
  display: none;
}

.contact-panel.active,
.account-panel.active {
  display: flex;
  flex-direction: column;
  gap: var(--padding-8);
  width: 100%;
  padding: var(--padding-16);
  box-sizing: border-box;
}

.account-panel.active {
  gap: var(--padding-24);
  padding: var(--padding-16) 0;
}

.account-panel>div {
  display: flex;
  flex-direction: column;
  gap: var(--padding-8);
  width: 100%;
}

.contact-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--padding-8) var(--padding-16);
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 16px;
  background: var(--background-primary);
  color: var(--color-dark-gray);
}

.account-name {
  width: 100%;
  text-align: left;
  padding-left: var(--padding-8);
  color: var(--color-dark-gray);
}

.account-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--padding-8) var(--padding-16);
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 16px;
  background: var(--background-primary);
  color: var(--color-dark-gray);
}

.contact-card svg,
.account-card svg {
  width: 24px;
  height: 24px;
  stroke: var(--color-primary);
  fill: none;
  stroke-width: 2px;
}

.account-num {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 16px;
  background: var(--background-primary);
  color: var(--color-dark-gray);
}

.bank-name {
  font-size: 0.6em;
}

.venmo-card {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--padding-8) var(--padding-16);
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 16px;
  background: var(--background-primary);
  color: var(--color-dark-gray);
}

.venmo-card svg {
  width: 24px;
  height: 24px;
  stroke: var(--color-primary);
  fill: none;
  stroke-width: 2px;
}

.contact-buttons {
  display: flex;
  align-items: center;
  gap: var(--padding-8);
}

.contact-button,
.account-button,
.venmo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

/* .contact-button:hover {
  background: #f5f5f7;
  color: #222;
} */

.Language-Korean #icon-share-2 {
  display: none;
}

.Language-English #icon-share-1 {
  display: none;
}


/* 컴포넌트 */
.pill-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding-8);
  padding: var(--padding-8) var(--padding-16);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  background: none;
  border-radius: 999px;
  font-size: 1em;
  line-height: 0;
  font-weight: 600;
  cursor: pointer;
  height: 50px;
  width: 100%;
  max-width: 180px;
  transition: all 0.3s ease;
}

.pill-button:hover {
  color: var(--text-light);
  background-color: var(--color-primary);
}

.pill-button:hover svg {
  stroke: var(--text-light);
}

.pill-button svg {
  position: relative;
  width: 24px;
  height: 24px;
  stroke: var(--color-primary);
  stroke-width: 2;
  fill: none;
  transition: all 0.3s ease;
}

.pill-button-fill {
  color: var(--text-light);
  background-color: var(--color-primary);
}

.pill-button-fill svg {
  stroke: var(--text-light);
}

.pill-button-fill:hover {
  color: var(--color-primary);
  background: none;
}

.pill-button-fill:hover svg {
  stroke: var(--color-primary);
}

/*커스텀 모달*/
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.custom-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
  max-width: 90vw;
  background: #fff;
  padding: var(--padding-48);
  padding-bottom: var(--padding-36);
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
}

.custom-modal-content p {
  font-size: 1em;
  padding-bottom: 12px;
}

.custom-modal-content .pill-button-fill {
  padding: 12px var(--padding-24);
  max-width: 120px;
  width: 100%;
  font-weight: 300;
}

.hidden {
  display: none;
}

.toast {
  position: fixed;
  bottom: -80px;
  left: 50%;
  width: 200px;
  background: #fff;
  padding: var(--padding-16) var(--padding-24);
  border-radius: 999px;
  text-align: center;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
  color: var(--color-dark-gray);
  font-size: 1em;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.4s ease;
  z-index: 9999;
}

.toast.show {
  bottom: 30px;
  opacity: 1;
}

/* ---꽃장식--- */

.flower-02 {
  position: absolute;
  right: -30px;
  top: -80px;
  width: 140px;
  pointer-events: none;
}

.flower-03 {
  position: absolute;
  left: -65px;
  bottom: 33px;
  width: 210px;
  transform: rotate(6deg);
  pointer-events: none;
}

.flower-04 {
  position: absolute;
  right: -50px;
  top: -80px;
  width: 160px;
  pointer-events: none;
}

.flower-05 {
  position: absolute;
  left: -40px;
  top: -70px;
  width: 200px;
  pointer-events: none;
}

/* -------- 디바이스 대응 디자인 -------- */


/* 기본 (모바일 우선 접근) */
@media (max-width: 767px) {}

/* 데스크탑 (중형 화면) */
@media (min-width: 768px) {
  h2 {
    padding-bottom: var(--padding-56);
  }

  section {
    position: relative;
    padding: var(--padding-40);
  }

  .title-text {
    width: 360px;
  }

  .title-date {
    width: 180px;
    transform: translate(-50%, -50%) translateY(240px);
  }

  .title-ring {
    width: 136px;
    transform: translate(-50%, -50%) translateY(55px);
  }

  .background-patttern {
    background-size: 20%;
  }

  .title-flower-01 {
    top: -40px;
    left: 0px;
    width: 140px;
  }

  .title-flower-02 {
    top: -20px;
    left: 60px;
    width: 245px;
  }

  .title-flower-03 {
    bottom: -120px;
    left: -10px;
    width: 230px;
  }

  .title-flower-04 {
    bottom: 10px;
    left: 170px;
    width: 110px;
  }

  .title-flower-05 {
    bottom: -100px;
    right: -30px;
    width: 270px;
  }

  .title-flower-leaf-01 {
    top: 40px;
    left: 320px;
    width: 60px;
  }

  .title-flower-leaf-02 {
    top: 200px;
    left: 30px;
    width: 50px;
  }

  .title-flower-leaf-03 {
    top: 100px;
    right: 70px;
    width: 55px;
  }

  .title-flower-leaf-04 {
    bottom: 160px;
    left: 260px;
    width: 50px;
  }

  .title-flower-leaf-05 {
    bottom: 44vh;
    right: 32px;
    width: 50px;
    pointer-events: none;
  }

  .flower-leaf {
    top: -225px;
    right: -50vw;
    width: 50px;
  }

  .flower-01 {
    position: absolute;
    left: -210px;
    top: 120px;
    width: 140px;
    pointer-events: none;
    transform: scale(2) rotate(-30deg);
  }

  .name-container {
    grid-template-columns: 35% 35%;
    max-width: 970px;
  }

  .photo-groom,
  .photo-bride {
    width: 240px;
  }

  .photo-groom img:first-child,
  .photo-bride img:first-child {
    width: 100%;
  }


  .name-container>img {
    padding: var(--padding-56);
    padding-top: 0;
    box-sizing: border-box;
  }

  .name-container>img {
    padding-bottom: var(--padding-48);
  }

  .name-container>div {
    position: relative;
  }

  .name-container>div>img {
    padding-bottom: var(--padding-8);
  }

  .parent-text {
    font-size: 1em;
    padding: 0;
  }

  .name-text {
    font-size: 2.2em;
  }

  .intro-text {
    transform: translate(-50%, -50%) translateY(300px);
  }

  .intro-text p {
    max-width: 400px;
  }

  .date-module {
    height: 100vh;
    box-sizing: border-box;
  }

  .date-module>div {
    max-width: 1170px;
    flex-direction: row;
    gap: var(--padding-200);
  }

  .date-module>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .calendar-container {
    max-width: 540px;
  }

  .dow,
  .day {
    height: 64px;
    width: 64px;
    font-size: 1.2rem;
  }

  .gallery-module {
    height: calc(100vw * 0.65 + 96px + 32px);
    max-height: 100vh;
    box-sizing: border-box;
  }

  .images img {
    height: 60vw;
    max-height: 80vh;
    width: 40%;
  }

  .indicator-wrapper {
    gap: var(--padding-24);
  }

  .indicator span:last-child {
    display: none;
  }

  .lightbox img.lightbox-image {
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 4px;
  }

  .arrow-wrapper {
    left: auto;
    right: 32px;
    bottom: 32px;
    transform: translateY(-45vh);
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 64px);
  }

  .arrow-wrapper button {
    width: 32px !important;
    height: 32px !important;
  }

  .close {
    width: 36px !important;
    height: 36px !important;
  }

  .map-module {
    height: 100vh;
    box-sizing: border-box;
  }

  .map-module>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    gap: var(--padding-200);
  }

  .map-module>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .map-wrapper {
    height: 400px;
  }

  .dresscode-container {
    max-width: 580px;
  }

  .RSVP-module {
    height: 60vh;
    box-sizing: border-box;
  }

  .RSVP-module.custom-modal {
    height: 100%;
  }

  .RSVP-module.custom-modal H2 {
    padding-bottom: var(--padding-32);
  }

  .RSVP-module>div.custom-modal-content {
    flex-direction: column;
    padding: var(--padding-36) var(--padding-36);
  }

  .RSVP-module>div {
    width: 100%;
    max-width: 1170px;
    flex-direction: row;
    gap: var(--padding-200);
  }

  .RSVP-module.custom-modal>div {
    max-width: 400px;
  }

  .RSVP-module>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .message-module {
    height: 80vh;
    box-sizing: border-box;
  }

  .message-module>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    flex-direction: row;
    gap: var(--padding-200);
  }

  .message-module>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .writing-container {
    order: 1;
  }

  .message-list-container {
    order: 2;
  }

  .message-list {
    max-height: 400px;
  }

  .writing-container.hidden {
    display: flex;
  }

  #showMessageBtn {
    display: none;
  }

  .message-module textarea {
    height: 240px;
  }


  .last-image-wrapper {
    width: 100%;
    height: calc(100vw * 0.6);
    overflow: hidden;
    position: relative;
  }

  .last-image {
    width: 100%;
    height: auto;
    position: relative;
    top: -50%;
    display: block;
  }

  .footer-module>div {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1170px;
    gap: 0;
    column-gap: var(--padding-16);
  }

  .footer-module button:last-child {
    grid-column: span 1;
    max-width: 200px;
  }

  .custom-modal-content {
    max-width: 400px;
  }

  /* ---꽃장식--- */

  .flower-01 {
    left: -290px;
    width: 220px;
  }

  .flower-02 {
    right: -60px;
    top: -180px;
    width: 240px;
  }

  .flower-03 {
    left: -100px;
    bottom: -50px;
    width: 360px;
    transform: rotate(0deg);
  }

  .flower-04 {
    right: -60px;
    top: -180px;
    width: 280px;
  }

  .flower-05 {
    left: -90px;
    top: -100px;
    width: 320px;
  }
}


/* 태블릿 (가로 모드) */
@media (min-width: 768px) and (max-width: 1023px) {
  .date-module>div {
    gap: var(--padding-80);
  }

  .map-module>div {
    gap: var(--padding-80);
  }

  .RSVP-module>div {
    gap: var(--padding-80);
  }

  .message-module>div {
    gap: var(--padding-80);
  }

  .title-image img.title-bg {
    height: 100%;
  }
}