html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  margin-left: 260px;
  display: block;
}

/*Smart phone*/
@media screen and (max-width: 599px) {
  canvas {
    margin-left: 0px;
    display: block;
  }
}

/*Tablet*/
 @media screen and (min-width: 600px) and (max-width: 999px) {
   canvas {
     margin-left: 200px;
     display: block;
   }
 }
